.pudelka {
    height: 300px;
    width: 390px;
    background-color: aquamarine;
    border: 0;
    display: inline-block;
    padding: 0px;
    margin: auto;

}
.main {
    width: 1200px;
    height: auto;
    /*marigin: auto;*/
}


    .pudelka:hover {
        filter: none;
        -webkit-filter: grayscale(100%);
        -webkit-transition: all 0.7s ease;
        transition: all 0.7s ease;
}
