

footer {
    /*display: block;*/

    height: 40px;
    background-color: darkgray;
    font-size: small;
    color: #eee;
    /*margin: 5px;*/
    margin: auto;
    /*padding: 3px;*/

    text-align: center;

    /*position: absolute;*/
    /*left:0;*/
    /*right:0;*/
    /*bottom: 0;*/
}

span {
    background-color: #463c41;
    /*border: solid 1px #222;*/
    padding: 5px;
    margin: 5px;
    display: inline-block;
}

