

footer {
    background-color: black;
    font-family: 'Exo 2', sans-serif;
    font-weight: 200;
    color: #a27854;
    letter-spacing: 3px;
    font-size: 20px;
    background-image: url("../images/back.jpg");
    height: 250px;
    width: 1200px;
    font-size: 16px;
    margin: auto;
    text-align: center;
}

footer .footer-text {
    font-size: 20px;
    font-size: 16px;
}

footer .mail {
    padding: 5px;
}

.media  {
    width: 40px;
    height: 40px;
    display: inline-block;
    padding-top: 25px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;

}


footer input {
    color: white;
    border: solid 1px;
    background-color: transparent;
    padding: 5px;
    margin-left: auto;
    margin-top: 5px;
}


/*input[type="email"] {*/
    /*color: white;*/
    /*border: solid 1px;*/
    /*background-color: transparent;*/
    /*padding: 7px;*/
    /*margin-left: 82px;*/
/*}*/

/*input[type="telefon"] {*/
    /*color: white;*/
    /*border: solid 1px;*/
    /*background-color: transparent;*/
    /*padding: 9px;*/
    /*margin-left: 82px;*/
/*}*/

input[type="submit"] {

    background-color: transparent;
    color: #a27854;
    padding: 7px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 200;
    color: white;
    letter-spacing: 3px;
    font-size: 15px;
    border: 0px;

}

input[type="email"]:invalid {
    border: 2px solid red;
}

input[type="submit"]:hover {
    color: #a27854;

}

#copyright {

    position: relative; top: 6px;
    display: inline-block;
}
