

footer {
    /*display: block;*/
    /*font-family: 'Alfa Slab One', serif;*/

    height: 50px;
    background-color: black;
    font-family: 'Exo 2', sans-serif;
    font-weight: 150;
    color: #a27854;
    letter-spacing: 3px;
    font-size: 20px;
    /*font-size: 16px;*/
    /*color: white;*/
    /*margin: 5px;*/
    background-image: url("../images/back.jpg");
    height: 350px;
    width: 1200px;
    font-size: 16px;
    margin: auto;
    text-align: center;

}
.media  {
    width: 70px;
    height: 70px;
    display: inline-block;
    padding-top: 55px;
    padding-bottom: 40px;
    margin-left: 70px;
    margin-right: 70px;

}



input[type="text"] {

    border: solid 1px;
    background-color: white;
    padding: 7px;
}

input[type="submit"] {

    background-color: #a27854;
    color: black;
    padding: 7px;
    font-family: 'Exo 2', sans-serif;


}

#copyright {
    padding-top: 340px;
    position: relative; top: 16px;
}
