.funkcjonalnosci {
    /*background-color: #FEFEFE;*/
    /*background-image: url('../image/back_2.jpg');*/
    margin: auto;
    /*text-align: center;*/
    padding-top: 0px;
    padding-bottom: 10px;
}

.f1 {
    display: inline-block;
    width: 395px;
    /*czemu jak dam 400 px to tekst ostatni sie przesunie*/
    text-align: center;
    /*border: solid 1px;*/
}

.f1 img {
    width: 50px;
    height: 50px;
    transition: all 1s;
}

#zapas {
    height: 60px;
}

.f1 img:hover {
    width: 70px;
    height: 70px;
    transition: width 1s, height 1s;


}

.f1 h1 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    vertical-align: 0.8em;
    color: #a27854;
    letter-spacing: 1px;
    font-size: 20px;
    padding-top: 10px;
}

.f1 .tresc {
    /*display: inline-block;*/
    /*text-align: center;*/
    /*font-family: "Alfa Slab One", serif;*/
    font-size: 14px;
    color: white;
    font-family: 'Exo 2', sans-serif;
    padding-top: 10px;
    /*font-style: italic;*/
}
