.funkcjonalnosci {
    /*background-color: #FEFEFE;*/
    /*background-image: url('../image/back_2.jpg');*/
    margin-left: auto;
    margin-right: auto;
    /*text-align: center;*/
    padding-top: 0px;
    /*padding-bottom: 10px;*/
}

.funkcjonalnosc {
    display: inline-block;
    width: 395px;
    /*czemu jak dam 400 px to tekst ostatni sie przesunie*/
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-top: 85px;
    padding-bottom: 20px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: center 30px;
    transition: all 0.3s linear;
    /*opacity: 0;*/
    animation: fadein 4s;

}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*drugi sposób - z użyciem jquery
.funkcjonalnosc.load {*/
/*opacity: 1;*/
/*!*transition-delay: 1s;*!*/
/*transition-duration: 4s;*/

/*}*/

.funkcjonalnosc:hover {
    background-size: 60px 60px;
    background-position: center 25px;
    transition: all 0.3s linear;
}

.funkcjonalnosc-1 {    background-image: url('../images/lupa.svg');}
.funkcjonalnosc-2 {    background-image: url('../images/book.svg');}
.funkcjonalnosc-3 {    background-image: url('../images/location.svg');}



/* drugie podejście = gdy img są wklejone w htmla:
.f1 img {*/
/**/
/*padding: 30px;*/
/*width: 50px;*/
/*height: 50px;*/
/*transition: all 1s;*/
/*}*/

/*.f1 img:hover {*/
/*padding: 20px;*/
/*width: 60px;*/
/*height: 60px;*/
/*transition: width 1s, height 1s, padding 1s;*/
/*}*
/*trzecie podejście : ubranie img w osobnego diva.*/

.funkcjonalnosc h1 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    vertical-align: 0.8em;
    color: #a27854;
    letter-spacing: 1px;
    font-size: 20px;
    padding-top: 10px;
}

.funkcjonalnosc .tresc {
    font-size: 14px;
    color: white;
    font-family: 'Exo 2', sans-serif;
    padding-top: 10px;

}
