table, tr, td {
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 500px;
background-image: url("../images/game_icon/gdansk.svg");
    background-repeat: no-repeat;
}

.selected {
    background-color: white;
}

#targetImage{
    position: inherit;
    float: left;
}