.czerwony  {
    background-color: red;
    color: white;
}

.niebieski  {
    background-color: blue;
    color: white;
}


#playerScore {
    color: darkgreen;
    margin-top: 10px;
    font-weight: 900;
    font-size: 20px;
}
td {
    width: 50px;
    height: 50px;
    border: 1px solid;
}
