

/*a {*/
    /*text-decoration: none;*/
/*}*/

/*.clear {*/
    /*clear: both;*/
/*}*/

/*.naglowek-strony {*/
    /*!*background-color: black ;*!*/
    /*background-image: url('../image/back.jpg');*/
    /*!*background-image: url('../image/dct1.jpg');*!*/
    /*height: 150px;*/
    /*!*min-width: 1300px;*!*/
    /*!*-webkit-filter: brightness(200%);*!*/
    /*position: relative;*/
    /*!*overflow: hidden;*!*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*!*!*ponizej parametry ktore moga sie przydac przy wstawianiu w tło obrazka:*!*/
    /*!*background-size: contain;*!*/
    /*!*background-repeat: no-repeat;*!*/
    /*!*background-position: 239px -268px;*!*/
    /*!*overlow chowa wystajace elementy*!*!*/
/*}*/

/*.naglowek-strony .tlo {*/
    /*!*position: absolute;*!*/


/*}*/

/*!*!*.naglowek-strony .logo {*!*!*/
    /*!*!*padding-left: 117px;*!*!*/
    /*!*!*padding-top: 13px;*!*!*/
    /*!*!*float: left;*!*!*/
/*!*}*!*/

/*.naglowek-strony h1 {*/
    /*color: white;*/
    /*font-family: 'Alfa Slab One', serif;*/
    /*font-size: 43px;*/
    /*!*font-weight: bold;*!*/
    /*text-transform: uppercase;*/
    /*!*margin-top: 0px; po resecie css nie trzeba tego atrybutu wstawiac*!*/
    /*padding-top: 60px;*/
    /*padding-bottom: 70px;*/
    /*padding-left: 125px;*/
    /*float: left;*/
/*}*/

/*!*"li, li a" - moglbym tak napisac = dla wszystkich elemntow li i a w li, ponieważ kilka poniższych styli jest dla li, kilka dla a*!*/
/*.naglowek-strony li {*/
    /*border: none;*/
    /*!*list-style: none; niepotrzebny po resecie css*!*/
    /*!*background-color: black;*!*/
    /*width: 450px;*/
    /*display: inline;*/
    /*text-transform: uppercase;*/
    /*padding: 7px;*/
    /*!*padding rozciaga menu*!*/
    /*font-family: 'Alfa Slab One', serif;*/
    /*!*font-weight: bold;*!*/
    /*font-size: 19px;*/
    /*color: white;*/
    /*text-align: center;*/
/*}*/

/*.naglowek-strony li a {*/
    /*border: none;*/
    /*color: white;*/
    /*!*list-style: none; niepotrzebny po resecie css*!*/
    /*!*background-color: blue;*!*/
    /*!*width: 150px;*!*/
    /*!*display: inline;*!*/
    /*!*padding: 13px;*!*/
    /*!*padding rozciaga menu*!*/
    /*!*font-size: 18px;*!*/
    /*!*text-align: center;*!*/
/*}*/

/*.naglowek-strony li a:hover {*/
    /*color: #71553A;*/
/*}*/

.naglowek-strony nav {
    position: absolute;
    right: 0px;
    top: 139px;
/*}*/

